@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Sen", sans-serif;
  @apply bg-primary text-accent;
}

::-webkit-scrollbar {
  scrollbar-width: 0px;
}

.will-change-opacity {
  will-change: opacity;
}
